<routes>
    <route match="/" />
    <route match="/addorder" action="addorder" controller="orders" />
    <route match="/order/{id:0-9}" action="order" controller="orders" />
    <route match="/orders/page-{page:0-9}" action="list" controller="orders" />
    <route match="/transporters/page-{page:0-9}" action="list" controller="transporters" />
</routes>