<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <document>
            <re_captcha>
                <private_key></private_key>
                <public_key></public_key>
            </re_captcha>
            <captcha>
                <save_path>var/static/captchas</save_path>
                <charlist>abcdefghijkLmnopqrstuvwxyz0123456789</charlist>
                <font_file>Magelight/Webform/static/fonts/comic.ttf</font_file>
                <font_size>18</font_size>
                <font_color>#373800</font_color>
                <noise_color>#787878</noise_color>
                <background_color>#eee</background_color>
            </captcha>
        </document>
    </global>
</config>