<config>
    <global>
        <db>
            <default>
                <dbname>kharkovbay</dbname>
            </default>
        </db>
        <forgery>
            <override>
                <old>Magelight\Core\Blocks\Body</old>
                <new>Board\Blocks\Body</new>
            </override>
        </forgery>
    </global>
</config>