<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <app>
            <cache_modules_config>0</cache_modules_config>
            <developer_mode>1</developer_mode>
        </app>
        <view>
            <date_format>d-m-Y</date_format>
            <date_time_format>d-m-Y H:i:s</date_time_format>
            <cache_ttl>3600</cache_ttl>
        </view>
        <log>
            <file>var/app.log</file>
        </log>
        <base_domain>##application_base_domain##</base_domain>
        <db>
            <default>
                <type>##default_db_type##</type>
                <host>##default_db_host##</host>
                <port>##default_db_port##</port>
                <user>##default_db_user##</user>
                <password>##default_db_password##</password>
                <dbname>##default_db_name##</dbname>
                <persistent>0</persistent>
                <init_connect>SET NAMES utf8 COLLATE utf8_general_ci</init_connect>
                <profiling>0</profiling>
            </default>
        </db>
        <cache>
            <default>
                <type>file</type>
                <config>
                    <path>var/cache</path>
                </config>
            </default>
        </cache>
        <forgery stackable="1">

        </forgery>
        <events stackable_child="1">
        </events>
    </global>
</config>
