<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <app>
            <cache_modules_config>##cache_modules_config_flag##</cache_modules_config>
            <developer_mode>##is_in_developer_mode##</developer_mode>
        </app>
        <view>
            <date_format>d-m-Y</date_format>
            <date_time_format>d-m-Y H:i:s</date_time_format>
            <cache_ttl>3600</cache_ttl>
        </view>
        <log>
            <file>##logfile##</file>
        </log>
        <setup>
            <executed_scripts>
                <filename>##executed_scripts_path##</filename>
            </executed_scripts>
        </setup>
        <base_domain>##application_base_domain##</base_domain>
        <db>
            <default>
                <type>##default_db_type##</type>
                <host>##default_db_host##</host>
                <port>##default_db_port##</port>
                <user>##default_db_user##</user>
                <password>##default_db_password##</password>
                <dbname>##default_db_name##</dbname>
                <persistent>##default_db_connection_persistent_flag##</persistent>
                <init_connect>SET NAMES utf8 COLLATE utf8_general_ci</init_connect>
                <profiling>##default_db_profiling_flag##</profiling>
            </default>
        </db>
        <cache>
            <default>
                <type>memcached</type>
                <config>
                    <servers stackable="1">
                        <server>
                            <host>##memcached_host##</host>
                            <port>##memcached_port##</port>
                        </server>
                    </servers>
                </config>
            </default>
            <other>
                <type>file</type>
                <config>
                    <path>##file_cache_path##</path>
                </config>
            </other>
        </cache>
        <forgery stackable="1">

        </forgery>
        <events stackable_child="1">
        </events>
    </global>
</config>
