<config>
    <global>
        <log>
            <file>app.log</file>
        </log>
        <base_domain>fw.loc</base_domain>
        <db>
            <default>
                <type>mysql</type>
                <host>localhost</host>
                <port>3306</port>
                <user>root</user>
                <password>root</password>
                <charset>UTF-8</charset>
                <init_connect>SET NAMES utf8 COLLATION utf8_general_ci</init_connect>
            </default>
        </db>
    </global>
</config>