<?xml version="1.0" encoding="UTF-8" ?>
<modules>
    <Magelight_Core>
        <path>Magelight\Core</path>
        <active>1</active>
    </Magelight_Core>
    <Magelight_Webform>
        <path>Magelight\Webform</path>
        <active>1</active>
        <require>Magelight_Core</require>
    </Magelight_Webform>
    <Magelight_CosmoBootstrap>
        <path>Magelight/CosmoBootstrap</path>
        <active>0</active>
    </Magelight_CosmoBootstrap>
</modules>
