<config>
    <modules>
        <Admin>
            <version>0.1</version>
        </Admin>
    </modules>

    <global>
        <admin>
            <auth>1</auth>
        </admin>
        <forgery>
            <override>
                <old>\Core\Blocks\Top</old>
                <new>\Admin\Blocks\Top</new>
            </override>
            <override>
                <old>Admin\Blocks\Top</old>
                <new>\Admin\Blocks\Left</new>
            </override>
        </forgery>
    </global>
</config>