<!-- 
Default mask is {[a-zA-Z0-9_\-]+}
-->        
<routes>
    <Admin>
        <route match="/" controller="index" action="index" />
        <route match="/users" controller="user" />
        <route match="/admin" controller="admin">
            <route match="/user/{id:0-9}" controller="user" rank="1">
                <route match="/list" action="list" />
                <route match="/edit" action="edit" />
                <route match="/save" action="save" />
            </route>
        </route>
    </Admin>
</routes>