<config>
    <module>
        <Magelight:Core>
            <version>1.0.0.0</version>
            <autoinstall>1</autoinstall>
        </Magelight:Core>
    </module>
    <global>
        <admin>
            <auth>2</auth>
        </admin>
        <document>
            <default_lang>ru</default_lang>
        </document>
    </global>
</config>