<routes>
    <route match="/404" controller="index" action="no_route" />
    <route match="/user{id:0-9}" controller="index" action="user"/>
    <route match="/" controller="index" action="index" />
    <route match="/login" action="login" controller="auth" />
    <route match="/servicelogin" action="servicelogin" controller="auth" />
    <route match="/logout" action="logout" controller="auth" />
    <route match="/register" action="register" controller="auth" />
    <route match="/remindpass" action="remindpass" controller="auth" />
    <route match="/render_captcha" action="render_captcha" controller="auth" />
</routes>