<config>
    <global>
        <contacts>
            <types>
                <skype>2</skype>
                <email>1</email>
                <phone>3</phone>
            </types>
        </contacts>
        <auth>
            <robot_email>admin@example.com</robot_email>
            <ulogin>
                <ulogin_script_url>//ulogin.ru/js/ulogin.js</ulogin_script_url>
                <instances>
                    <default>
                        <html_id>uLogin</html_id>
                        <options>
                            <display>panel</display>
                            <fields>first_name,email,city,country</fields>
                            <optional>photo,phone</optional>
                            <providers>vkontakte,facebook,odnoklassniki,twitter,mailru,yandex,google</providers>
                            <hidden></hidden>
                            <redirect_route>/servicelogin</redirect_route>
                        </options>
                    </default>
                    <register>
                        <html_id>uLogin-register</html_id>
                        <options>
                            <display>panel</display>
                            <fields>first_name,email,city,country</fields>
                            <optional>photo,phone</optional>
                            <providers>vkontakte,facebook,odnoklassniki,twitter,mailru,yandex,google</providers>
                            <hidden></hidden>
                            <redirect_route>/servicelogin</redirect_route>
                        </options>
                    </register>
                </instances>
                <options>

                </options>
            </ulogin>
            <register>
                <success_url>/</success_url>
                <fail_url>/register</fail_url>
                <openauth_error>/openauth_error</openauth_error>
            </register>
            <avatar>
                <noavatar_url>/modules/public/Auth/static/img/no-avatar.png</noavatar_url>
            </avatar>
        </auth>
    </global>
</config>