.hidden{
    display: none;
}

div.container {
    background: url("http://www.w3schools.com/images/w3schoolslogo.gif") no-repeat;
}


div.main-content{
    margin: 8px 16px 32px 16px !important;
}


div.login-option{
    text-align: center;
}

dl.login-options{
    margin: 8px;
}

dl.login-options dt{
    font-weight: normal;
    color: #333;
    width: 188px;
    display:inline-block;
    padding-left: 10px;
}

dl.login-options dd{
    margin-top: 4px;
    display:inline-block;
    width: 300px;
}

dl.login-options dd div.reg-options{
    margin-top: 12px;
}

dl.login-options dd div.reg-options a{
    display: inline;
    padding: 0;
    margin-right: 8px;
}

img.navbar-avatar{
    max-height: 18px;
    max-width: 18px;
    margin: 0;
    padding: 0;
}

ul.dropdown-menu li a i{
    margin-right: 8px;
}

h1{
    font-size: 24px;
}

span.required{
    color: #dd1144;
}

ul.categories{
    list-style: none;
    padding: 0;
}

ul.categories li{
    display:inline-block;
    width:180px;
    height:80px;
    text-align: center;
}

div.category-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../img/category-icons/sprite.png') no-repeat top left;
}

ul.categories li a span.category-title{
    display: block;
    font-size: 0.8em;
}

div.category-icon.cat-icon-1{ background-position: 0 0; width: 32px; height: 32px; }
div.category-icon.cat-icon-10{ background-position: 0 -40px; width: 32px; height: 32px; }
div.category-icon.cat-icon-11{ background-position: 0 -80px; width: 32px; height: 32px; }
div.category-icon.cat-icon-12{ background-position: 0 -120px; width: 32px; height: 32px; }
div.category-icon.cat-icon-13{ background-position: 0 -160px; width: 32px; height: 32px; }
div.category-icon.cat-icon-14{ background-position: 0 -200px; width: 32px; height: 32px; }
div.category-icon.cat-icon-15{ background-position: 0 -240px; width: 32px; height: 32px; }
div.category-icon.cat-icon-2{ background-position: 0 -280px; width: 32px; height: 32px; }
div.category-icon.cat-icon-3{ background-position: 0 -320px; width: 32px; height: 32px; }
div.category-icon.cat-icon-4{ background-position: 0 -360px; width: 32px; height: 32px; }
div.category-icon.cat-icon-5{ background-position: 0 -400px; width: 32px; height: 32px; }
div.category-icon.cat-icon-6{ background-position: 0 -440px; width: 32px; height: 32px; }
div.category-icon.cat-icon-7{ background-position: 0 -480px; width: 32px; height: 32px; }
div.category-icon.cat-icon-8{ background-position: 0 -520px; width: 32px; height: 32px; }
div.category-icon.cat-icon-9{ background-position: 0 -560px; width: 32px; height: 32px; }


ul.selected-category{
    display: inline;
    padding:0;
    margin:0;
}

ul.selected-category li{
    display: inline;
}

ul.selected-category li *{
    display: inline-block;
}