<config>
    <global>
        <forgery>
            <override>
                <old>\Magelight\Core\Blocks\Document</old>
                <new>\Magelight\Minifier\Blocks\Document</new>
            </override>
        </forgery>
        <minifier>
            <minify_js>1</minify_js>
            <minify_css>1</minify_css>
            <compress_js>1</compress_js>
            <compress_css>1</compress_css>
            <public_dir>var/static</public_dir>
            <check_readability>0</check_readability>
            <cache_ttl_css>10000</cache_ttl_css>
            <cache_ttl_js>10000</cache_ttl_js>
        </minifier>
    </global>
</config>