<config>
    <global>
        <classes>
            <override>
                <core_blocks_body>
                    <class><![CDATA[\Core\Blocks\Body]]></class>
                    <replace><![CDATA[\Core\Blocks\Main]]></replace>
                </core_blocks_body>
            </override>
        </classes>
    </global>
</config>