Options -Indexes
Options +FollowSymLinks
# Turn on the RewriteEngine
RewriteEngine On
#  Rules
RewriteCond %{REQUEST_FILENAME} !^.*\.(js|css|png|jpg|jpeg|gif|tiff|mp3|flv|ico|eot|ttf|svg|woff)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php