<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <document>
            <default_lang>ru</default_lang>
        </document>
        <minifier>
            <minify_js>0</minify_js>
            <minify_css>0</minify_css>
            <compress_js>0</compress_js>
            <compress_css>0</compress_css>
            <public_dir>var/static</public_dir>
            <check_readability>0</check_readability>
            <cache_ttl_css>10000</cache_ttl_css>
            <cache_ttl_js>10000</cache_ttl_js>
        </minifier>
        <uploads>
            <path>var/uploads</path>
        </uploads>
        <aop stackable="1">
            <aspect>
                <pointcut>
                    <point>Magelight\Model->save</point>
                </pointcut>
                <advice>Magelight\Core\Advices\Test</advice>
            </aspect>
        </aop>
    </global>
</config>