<config>
    <global>
        <auth>
            <register>
                <success_url>/</success_url>
                <fail_url>auth/register</fail_url>
                <openauth_error>auth/openauth_error</openauth_error>
            </register>
        </auth>
        <forgery>
            <preference>
                <old>Magelight\Core\Blocks\Body</old>
                <new>SampleApp\Blocks\Body</new>
            </preference>
        </forgery>
    </global>
</config>