<?xml version="1.0" encoding="UTF-8"?>
<!--
    Default properties:
    - controller="index"
    - action="index"
    - module="{this module name}"

    the included route inherits all properties
-->
<routes>
    <route match="/" />
    <route match="/404" action="no_route" />
    <route match="/forms" action="forms"/>
</routes>
