<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <document>
            <re_captcha>
                <private_key>6LdXRNkSAAAAAOPdccvZiwrYy1ANY-oESFCdK4ty</private_key>
                <public_key>6LdXRNkSAAAAAFwH0iBHqY9AtUYEQPlYyNPVhQw_</public_key>
            </re_captcha>
        </document>
    </global>
</config>