img.grid-thumb {
    max-width: 64px;
    max-height: 64px;
}

.filter-row {
    background-color: #f8fafb;
}

table.grid.table thead{
    background-color: #f8fafb;
}

table.grid thead tr th {
    text-align: center;
}
