<config>
    <global>
        <forgery>
            <override>
                <old>\Magelight\Core\Blocks\Document</old>
                <new>\Magelight\Minifier\Blocks\Document</new>
            </override>
        </forgery>
        <minifier>
            <public_dir>var/static</public_dir>
            <cache_ttl_css>1</cache_ttl_css>
            <cache_ttl_js>1</cache_ttl_js>
        </minifier>
    </global>
</config>