<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <perspectives>
            <admin>
                <sections>
                    <body>
                        <block>\Magelight\Admin\Blocks\Body</block>
                        <sections>
                            <admin_navbar>
                                <block>\Magelight\Admin\Blocks\Navbar</block>
                            </admin_navbar>
                            <content>
                                <block>\Magelight\Admin\Blocks\Dashboard</block>
                                <sections>
                                    <dashboard-content stackable="1">

                                    </dashboard-content>
                                </sections>
                            </content>
                        </sections>
                    </body>
                </sections>
            </admin>
        </perspectives>
    </global>
    <admin>
        <scaffold>
            <entities>
                <default>
                    <block_class>\Magelight\Admin\Blocks\Scaffold\EntityForm</block_class>
                    <model_class>\Magelight\Admin\Models\Scaffold\Entity</model_class>
                    <table_name></table_name> <!-- default empty -->
                    <comment></comment>
                    <id_field></id_field> <!-- default empty - will be set to 'id'-->
                    <fields>
                        <default>
                            <class>\Magelight\Webform\Blocks\Elements\Input</class>
                            <allow_null>0</allow_null>
                        </default>
                    </fields>
                </default>
                <!--<categories>-->
                    <!--<table_name>categories</table_name>-->
                    <!--<fields>-->
                        <!--<title>-->
                            <!--<allow_null>1</allow_null>-->
                        <!--</title>-->
                    <!--</fields>-->
                <!--</categories>-->
            </entities>
        </scaffold>
        <navbar>
            <block>Magelight\Admin\Blocks\Navbar</block>
            <items stackable="1">
                <frontend>
                    <type>link</type>
                    <link_class>brand</link_class>
                    <route>/</route>
                    <title>Frontend</title>
                    <position>0</position>
                </frontend>
                <dashboard>
                    <type>link</type>
                    <route>admin/index</route>
                    <title>Dashboard</title>
                    <position>100</position>
                    <subitems stackable="1">

                    </subitems>
                    <sections>

                    </sections>
                </dashboard>
                <scaffolding>
                    <type>link</type>
                    <route>admin/scaffold</route>
                    <title>Scaffolding</title>
                    <position>200</position>
                    <sections>
                        <block>Magelight\Admin\Blocks\Sections</block>
                        <items stackable="1">
                            <test1>
                                <route>/</route>
                                <title>test1</title>
                                <position>100</position>
                            </test1>
                            <test2>
                                <block>Magelight\Admin\Blocks\Sections\Item</block>
                                <route>/</route>
                                <title>test2</title>
                                <position>200</position>
                            </test2>
                        </items>
                    </sections>
                </scaffolding>
            </items>
        </navbar>
    </admin>
</config>